
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: sans-serif;
  background-image: url('/images/mocking-spongebob-rescaled.jpg');
  background-size: cover;
  background-position: center;
  margin: min(30px, 5vw);
}

input, output {
  width: 100%;
  font-size: 2em;
  background-color: white;
  border: 5px solid grey;
  display: block;
  color: grey;
  text-overflow: wrap;
}

#spongebob-input-form {
  margin-bottom: 30px;
}
label {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}
